.flex-container {
  display: flex;
  align-items: center;
}

.grid-container {
  display: grid;
}

.wrapper {
  max-width: 1240px;
  padding-inline: 1.8em;
  margin-inline: auto;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    padding-inline: 6em;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    padding-inline: 0;
  }
}