.btn {
  display: block;
  font-size: var(--fs-xs);
  font-weight: 600;
  line-height: 1.125;
  cursor: pointer;
  transition: background-color var(--delay);

  &--action {
    padding: .625em 2em;
    color: var(--text-clr-body);
    background-color: var(--text-clr-dark);

    &:focus,
    &:hover {
      color: var(--text-clr-body);
      background-color: var(--action-focus);
    }
  
    &:active {
      color: var(--text-clr-body);
      background-color: var(--action-active);
    }
  }

  &--confirm {
    padding-block: .8em;
    padding-inline: 1.5em;
    margin-inline: auto;
    font-size: var(--fs-sm);
    font-weight: 700;
    color: var(--text-clr-dark);
    background-color: var(--text-clr-white);

    &:focus,
    &:hover {
      background-color: var(--text-clr-white);
    }
  
    &:active {
      background-color: var(--confirm-active);
    }
  }

  &--dismiss {
    min-width: 48px;
    min-height: 48px;
    background-color: transparent;
    transition: filter var(--delay), opacity var(--delay);
    &::before {
      content: '';
      display: block;
      min-width: 48px;
      min-height: 48px;
      background-image: url('../images/shapes/crosshairs.svg');
      background-repeat: no-repeat;
      background-size: cover;
      transform: rotate(45deg);
    }

    &:focus,
    &:hover {
      filter: drop-shadow(0 0 1px var(--text-clr-body));
    }
  
    &:active {
      opacity: .5;
      filter: none;
    }
  }

  &--menu {
    min-width: 34px;
    min-height: 34px;
    background-color: transparent;
    background-image: url('../images/shapes/hamburger-menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter var(--delay), opacity var(--delay);

    &:focus,
    &:hover {
      filter: drop-shadow(0 0 1px var(--text-clr-body));
    }
  
    &:active {
      opacity: .5;
      filter: none;
    }
  }

  &--action-modal {
    max-width: 200px;
    padding-block: .72em;
    margin-block-start: 6.778em;
    margin-inline: auto;
    font-size: calc(var(--fs-xs) + .125em);
  }
}

@media only screen and (min-width: 900px) {
  .btn {

    &--menu {
      display: none;
    }
  }
}