.btn {
  font-size: var(--fs-xs);
  font-weight: 600;
  line-height: 1.125;
  cursor: pointer;

  &--action {
    display: block;
    padding: .625em 2em;
    color: var(--text-clr-body);
    background-color: var(--text-clr-dark);
  }

  &--confirm {
    padding-block: .8em;
    padding-inline: 1.5em;
    font-size: var(--fs-sm);
    font-weight: 700;
    color: var(--text-clr-dark);
    background-color: var(--text-clr-body);
  }
}