.form {
  flex-direction: column;
  gap: 1.5em;

  &__control {
    width: 100%;
    outline: none;
    transition: font-weight var(--delay), box-shadow var(--delay);

    &--phone {
      padding-block: .85em;
      padding-inline: .75em;
      border: 1px solid currentColor;
      font-size: var(--fs-sm);
      font-weight: 300;
      color: var(--text-clr-body);
      background-color: transparent;

      &:focus {
        font-weight: 600;
        box-shadow: inset 0 0 0 1px currentColor;
      }
    }

    &--submit {
      padding-block: .44em;
      font-size: var(--fs-xl);
    }

    &--invalid {
      border-color: var(--error);

      &:focus {
        box-shadow: none;
      }
    }

    &::placeholder {
      color: currentColor;
    }
  }

  &--callback {
    margin-block-start: 2.25em;
  }
}