.form {
  flex-direction: column;
  gap: 1.5em;

  &__control {
    width: 100%;
    outline: none;
    transition: font-weight var(--delay),
                box-shadow var(--delay),
                background-color var(--delay);

    &--phone {
      padding-block: .85em;
      padding-inline: .75em;
      border: 1px solid currentColor;
      font-size: var(--fs-sm);
      font-weight: 300;
      color: var(--text-clr-body);
      background-color: transparent;

      &:focus {
        font-weight: 600;
        box-shadow: inset 0 0 0 1px currentColor;
      }
    }

    &--submit {
      padding-block: .44em;
      font-size: var(--fs-xl);
    }

    &--invalid {
      border-color: var(--error);

      &:focus {
        box-shadow: none;
      }
    }

    &::placeholder {
      color: currentColor;
    }
  }

  &--callback {
    margin-block-start: 2.25em;
  }
}

@media only screen and (min-width: 900px) {
  .form {
    flex-direction: row;
    gap: 1.125em;

    &__control {

      &--phone {
        padding: .75em 1em;
      }

      &--submit {
        width: fit-content;
        padding: .838em 1.5em;
        font-size: var(--fs-sm);
      }
    }

    &--callback {
      padding-inline: 4.85em;
      margin-block-start: 5.25em;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .form {

    &--callback {
      padding-inline: 15.59em;
      margin-block-start: 4.667em;
    }
  }
}