@use '../abstracts/mixins';

// Menu button style rules
.menu-btn {
  place-items: center;
  justify-items: end;
  width: 34px;
  height: 34px;
  padding-block: 8px;
  padding-inline: 4px;

  &__desc {
    @include mixins.sr_only;
  }

  &__label {
    position: relative;
    display: block;
    width: 15px;
    height: 2.5px;
    border-radius: 8px;
    background-color: var(--bg-hamburger);
    transform: rotateY(180deg);
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';
      height: 2.5px;
      border-radius: 8px;
      background-color: var(--bg-hamburger);
      transition: all var(--delay) cubic-bezier(1, 0, 0, 1);
    }

    &::before {
      width: 25px;
      bottom: 7px;
      transform-origin: left top;
      transform: rotateZ(0deg);
    }
    
    &::after {
      top: 7px;
      width: 23px;
      transform-origin: left bottom;
      transform: rotateZ(0deg);
    }
  }
}


// Menu button animation
#menu-toggle {
  display: none;
  
  ~ label {
    transition: all var(--delay-hamburger) cubic-bezier(1, 0, 0, 1);
  }

  &:checked ~ label {
    background-color: transparent;
  }

  &:checked ~ label::before {
    width: 21px;
    transform: rotateZ(45deg);
  }

  &:checked ~ label::after {
    width: 21px;
    transform: rotateZ(-45deg);
  }
}