@use '../abstracts/mixins';

.modal {
  padding-inline: 1em;
  padding-block: .75em;
  border: none;
  color: var(--text-clr-body);
  background-color: var(--bg-modal);

  .level {
    margin-block-start: 4em;
    margin-block-end: 2em;

    &__title {
      margin-block-end: 1.5em;
    }

    &__desc {
      padding-inline: 2em;
    }
  }

  &__btn-name {
    @include mixins.sr_only;
  }

  .btn--dismiss {
    margin-left: auto;
  }

  &--confirm {
    min-height: 600px;
  
    .btn--confirm {
      padding-inline: 3.375em;
      padding-block: 1em;
    }
  }

  &::backdrop {
    background: var(--bg-backdrop);
  }
}

@media only screen and (min-width: 600px) {
  .modal {
    padding-inline: 4em;
    padding-block: 2.875em;

    .level {
      margin-block-start: 5em;
      margin-block-end: 2.625em;
  
      &__desc {
        padding-inline: 4.4em;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .modal {

    .level {

      &__desc {
        padding-inline: 12em;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .modal {
    padding-inline: 6em;
    padding-block: 6em;
  
    .level {
      margin-block-start: 4.17em;
  
      &__desc {
        padding-inline: 22em;
      }
    }

    &--confirm {
      min-height: 720px;
    }

    &--lightbox {
      padding: 2.25em;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .modal {
    
    &--lightbox {
      padding: 4em;
    }
  }
}