@use '../abstracts/mixins';

.navbar {
  &__container {
    @include mixins.reset_list;
    gap: 1.0625em;
    font-size: var(--fs-xs);
    line-height: 1.13;
    letter-spacing: var(--tracking-h2);
    color: var(--text-clr-dark);

    /* mobile styles only*/
    flex-direction: column;
    padding-block: 1.2em;
    background-color: var(--text-clr-body);
  }
}