@use '../abstracts/mixins';

.navbar {
  /* mobile styles only*/
  position: absolute;
  top: 40px;
  right: 800px;
  opacity: 0;
  box-shadow: 2px 2px 8px 1px var(--text-clr-dark);
  transition: opacity var(--delay);

  &__container {
    @include mixins.reset_list;
    gap: 1.0625em;
    font-size: var(--fs-xs);
    line-height: 1.13;
    letter-spacing: var(--tracking-h2);
    color: var(--text-clr-dark);

    /* mobile styles only*/
    flex-direction: column;
    padding: 1.5em;
    background-color: var(--text-clr-body);
  }

  &__item {

    &:not(.navbar__item--btn) {
      font-family: 'Open Sans';
      font-weight: 400;
    }

    &--faq {
      text-transform: uppercase;
    }
  }

  &--opened {
    right: 48px;
    opacity: 1;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 70px;

    &--opened {
      right: 120px;
    }
  }
}

@media only screen and (min-width: 900px) {
  .navbar {
    flex-grow: 1;
    position: static;
    opacity: 1;
    box-shadow: none;

    &__container {
      flex-direction: row;
      gap: 1.875em;
      padding: 0;
      background-color: transparent;
    }

    &__item--btn {
      margin-left: auto;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {

    &__item {

      &:first-of-type {
        margin-left: auto;
      }
    }
  }
}