@use '../abstracts/mixins';

.navbar {
  /* mobile styles only*/
  position: absolute;
  top: 40px;
  right: 800px;
  opacity: 0;
  box-shadow: 2px 2px 8px 1px var(--text-clr-dark);
  transition: opacity var(--delay);

  &__container {
    @include mixins.reset_list;
    gap: 1.0625em;
    font-size: var(--fs-xs);
    line-height: 1.13;
    letter-spacing: var(--tracking-h2);
    color: var(--text-clr-dark);

    /* mobile styles only*/
    flex-direction: column;
    padding: 1.5em;
    background-color: var(--text-clr-body);
  }

  &--opened {
    right: 48px;
    opacity: 1;
  }
}