.about {
  padding-block-start: 3.625em;
  padding-block-end: 5em;

  .level__desc {
    color: var(--text-clr-body);
  }

  &__items {
    gap: 4.5em;
    margin-block-start: 3.75em;
    text-align: center;
  }

  &__item {
    padding-inline: 1em;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: bottom;
      margin-inline: auto;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--ecology {

      &::before {
        min-width: 60px;
        min-height: 54px;
        background-image: url('../images/shapes/ecology.svg');
      }
    }

    &--sympathy {

      &::before {
        min-width: 74px;
        min-height: 60px;
        background-image: url('../images/shapes/sympathy.svg');
      }
    }

    &--ethics {

      &::before {
        min-width: 60px;
        min-height: 70px;
        background-image: url('../images/shapes/ethics.svg');
      }
    }
  }

  &__title {
    margin-block: .668em;
    font-size: var(--fs-h3);
    font-weight: 700;
  }

  &__desc {
    margin-block-end: 0;
    letter-spacing: var(--tracking-h2);
    color: var(--text-clr-white);
  }
}

@media only screen and (min-width: 900px) {
  .about {
    padding-block-start: 4.75em;

    .level__desc {
      padding-inline: 12.4em;
    }

    &__items {
      grid-auto-flow: column;
      place-items: baseline;
    }

    &__item {
      padding: 0;
    }
  }
}