.callback {
  min-height: 620px;
  padding-block-start: 3.125em;
  background-color: var(--bg-clr-section);
  background-image: url('../images/backgrounds/callback-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 60%;

  .level__title {
    padding-inline: 1.75em;
  }

  .level__desc {
    color: var(--text-clr-body);
  }
}

@media only screen and (min-width: 900px) {
  .callback {
    padding-block-start: 6.5625em;

    .level__desc {
      padding-inline: 11em;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .callback {
    min-height: 780px;
    background-position-y: 50%;

    .level__title {
      margin-block-end: 1.335em;
    }

    .level__desc {
      padding-inline: 20em;
    }
  }
}