.details {
  min-height: 830px;
  padding-block-start: 2.375em;
  background-color: var(--bg-clr-section);

  .level__title {
    padding-inline: .3em;
  }

  &__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.625em;
    margin-block-start: 2.75em;
    text-align: center;
  }

  &__highlight {
    font-family: 'Open Sans';
    font-size: var(--fs-num);
    font-weight: 700;
    letter-spacing: var(--tracking-num);
  }

  &__abbr {
    position: relative;
    left: -8px;
    font-family: 'Raleway';
    font-size: var(--fs-md);
    font-weight: 500;
  }

  &__note {
    font-weight: 500;
    color: var(--text-clr-white);
  }

  &__sub {
    top: 0;
    font-size: 60%;
  }

  &__newline {
    display: block;
  }

  &__destination {
    position: relative;
    margin: 0;
    padding-inline: 1.25em;
    transform: translateY(20px);
  }

  &__nameplate {
    position: absolute;
    bottom: 20%;
    left: 47%;
    font-weight: 500;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: var(--text-clr-body);
      animation-duration: 2s;
      animation-name: pointBlink;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }

  @keyframes pointBlink {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 900px) {
  .details {
    min-height: 700px;
    padding-block-start: 5.25em;
    padding-block-end: 2.75em;

    .level__desc {
      padding-inline: 11em;
    }

    &__container {
      display: flex;
      gap: 4.375em;
      justify-content: center;
    }

    &__list {
      align-self: center;
      flex-shrink: 0;
      gap: 3em 4em;
      text-align: left;
      margin: 0;
    }

    &__destination {
      padding: 0;
      transform: none;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .details {
    padding-block-end: 0;

    .level__desc {
      padding-inline: 19em;
    }

    &__container {
      justify-content: end;
    }

    &__list {
      align-self: start;
      gap: 2.8125em 4.8125em;
      margin-top: 4.375em;
    }
  }
}