.faq {
  padding-block-start: 3.75em;
  padding-block-end: 4.75em;

  .level {
    padding-inline: 2em;
  }

  &__item {
    border-bottom: 1px solid currentColor;
    transition: transform var(--delay);

    &[open] {
      & > summary::after {
        content: '';
        display: block;
        min-width: 30px;
        min-height: 1px;
        background-color: var(--text-clr-body);
      }
    }

    &:first-of-type {
      border-top: 1px solid currentColor;
    }
  }

  &__question {
    padding-left: .9375em;
    padding-right: 1.5em;
    justify-content: space-between;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      min-width: 30px;
      min-height: 30px;
      background-image: url('../images/shapes/crosshairs.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: filter var(--delay), opacity var(--delay);
    }

    &:focus,
    &:hover {

      &::after {
        filter: drop-shadow(0 0 1px var(--text-clr-body));
      }
    }
  
    &:active {

      &::after {
        opacity: .5;
        filter: none;
      }
    }

    &::marker,
    &::-moz-list-bullet,
    &::-webkit-details-marker {
      display: none;
      list-style-type: none;
      list-style-image: none;
    }
  }

  &__title {
    margin-block: 1.75em;
    margin-inline-start: 1.25em;
  }

  &__answer {
    margin-block: 0;
    padding-bottom: 2.25em;
    padding-left: .9375em;
    padding-right: 1.5em;

    &--u-list {
      padding-left: 2em;
    }
  }
}

@media only screen and (min-width: 600px) {
  .faq {
    background-color: var(--bg-clr-section);
    
    &__question {
      padding-left: 2.5em;
      padding-right: 4.62em;
    }

    &__answer {
      padding-left: 2.5em;
      padding-right: 13.75em;

      &--u-list {
        padding-left: 3.5em;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .faq {
    padding-block-start: 5em;
    padding-block-end: 8em;
  }
}

@media only screen and (min-width: 1200px) {
  .faq {
    padding-inline: 9.264em;

    .level {
      margin-block-end: 5em;
    }

    &__question {
      padding-right: 7.25em;
    }

    &__answer {
      padding-right: 28em;
    }
  }
}