.photoreport {
  padding-block-start: 2.9375em;

  .level__title {
    margin-block-end: .6115em;
  }

  .gallery__controls {
    top: calc(50% - 13px);
    padding-inline: .75em;
  }

  &__snapshots {
    padding-block-start: 2.5em;
    margin: 0;
  }

  &__snapshot {
    min-height: 400px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

@media only screen and (min-width: 600px) {
  .photoreport {
    
    .gallery__controls {
      display: none;
    }

    &__snapshots {
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 1.375em;
      padding-inline: 1.375em;
      padding-block-end: 2.25em;
    }

    &__snapshot {
      pointer-events: auto;
    }
  }
}

@media only screen and (min-width: 900px) {
  .photoreport {
    padding-block-start: 4.5em;

    &__snapshots {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
}

@media only screen and (min-width: 1200px) {
  .photoreport {

    .level__title {
      margin-block-end: 2.125em;
    }

    &__snapshots {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      padding-inline: 9.264em;
      padding-block-start: 4.25em;
    }

    &__snapshot {
      cursor: pointer;
      transition: box-shadow var(--delay);

      &:hover,
      &:focus {
        box-shadow: 0 4px 8px 0 var(--action-focus), 0 6px 20px 0 var(--action-active);
      }
    }
  }

  @supports (-moz-appearance:none) {
    .photoreport {

      &__snapshot {
        height: 400px;
      }
    }
  }
}