.team {
  padding-block-start: 3.375em;
  padding-block-end: 4.375em;
  background-color: var(--bg-clr-section);

  .slick-center,
  .slick-current {

    .team__img {
      clip-path: inset(0 0);
    }

    .team__bio {
      opacity: 1;
    }
  }

  .slick-dots {
    margin-top: 1.5em;
  }

  &__mate {
    margin: 0;
  }

  &__img {
    min-width: 260px;
    max-height: 420px;
    aspect-ratio: 1 / 2;
    object-fit: cover;
    clip-path: inset(35px 0);
    transition: clip-path var(--delay);
  }

  &__bio {
    min-height: 150px;
    padding-inline: .75em;
    margin-block-start: 1.5em;
    text-align: center;
    opacity: 0;
    transition: opacity var(--delay);
  }

  &__name {
    margin: 0;
    font-size: var(--fs-md);
    font-weight: 700;
  }

  &__role {
    margin-block-start: 0;
    margin-block-end: .60em;
    font-size: var(--fs-sm);
    font-weight: 600;
  }

  &__quote {
    font-style: normal;
    color: var(--text-clr-white);
  }

  @supports (-moz-appearance:none) {
    .team {

      &__img {
        height: 535px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .team {

    &__img {
      min-width: 360px;
      max-height: 535px;
    }

    &__bio {
      padding-inline: 3em;
    }
  }
}

@media only screen and (min-width: 900px) {
  .team {
    padding-block-start: 4.8125em;

    &__img {
      min-width: 300px;
    }

    &__bio {
      padding-inline: 1.5em;
    }
    
    &__mates {
      max-width: 1020px;
      margin-inline: auto;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .team {

    .level__title {
      margin-bottom: 1.4375em;
    }

    &__img {
      min-width: 420px;
    }

    &__bio {
      padding-inline: 1.5em;
    }
    
    &__mates {
      max-width: 1360px;
      margin-inline: auto;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        right: -1px;
        left: -1px;
        border-left: 55px solid var(--bg-clr-section);
        border-right: 55px solid var(--bg-clr-section);
      }
    }

    &__bio {
      padding-left: 4em;
      padding-right: 1em;
      text-align: left;
    }
  }
}