.team {
  padding-block-start: 3.375em;
  padding-block-end: 4.375em;
  background-color: var(--bg-clr-section);

  .gallery--team {

    &::after {
      content: '';
      position: absolute;
      inset: 0 0 auto 0;
      width: 280px;
      min-height: 420px;
      margin-inline: auto;
      background-color: transparent;
    }
  }

  .gallery__controls {
    display: none;
  }

  .gallery__slide--active {
    align-self: center;

    .team__img {
      clip-path: inset(0 0);
    }

    .team__bio {
      opacity: 1;
    }
  }

  &__mates {
    grid-auto-columns: 280px;
    align-items: center;
    gap: 1em;
    margin-block-end: 1.5em;
    padding-inline: 2.8em;
    scroll-padding-inline: 2.8em;
  }

  &__mate {
    margin: 0;
    scroll-snap-align: center;
  }

  &__img {
    min-width: 280px;
    max-height: 420px;
    aspect-ratio: 1 / 2;
    object-fit: cover;
    clip-path: inset(35px 0);
    transition: clip-path var(--delay);
  }

  &__bio {
    min-height: 140px;
    margin-block-start: 1.5em;
    text-align: center;
    opacity: 0;
    transition: opacity var(--delay);
  }

  &__name {
    margin: 0;
    font-size: var(--fs-md);
    font-weight: 700;
  }

  &__role {
    margin-block-start: 0;
    margin-block-end: .60em;
    font-size: var(--fs-sm);
    font-weight: 600;
  }

  &__quote {
    font-style: normal;
    color: var(--text-clr-white);
  }

  @supports (-moz-appearance:none) {
    .team {

      &__img {
        height: 420px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .team {
    
    &__mates {
      grid-auto-columns: 340px;
    }

    &__img {
      min-width: 340px;
      max-height: 535px;
    }

    &__bio {
      padding-inline: 2em;
    }

    @supports (-moz-appearance:none) {
      .team {
  
        &__img {
          height: 535px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .team {
    padding-block-start: 4.8125em;
    
    &__mates {
      max-width: 1020px;
      margin-inline: auto;
      gap: 0;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .team {

    .level__title {
      margin-bottom: 1.4375em;
    }

    .gallery__controls {
      display: flex;
      min-width: 1200px;
      top: calc(50% - 100px);
      left: 6%;
    }

    .gallery__pagination {
      display: none;
    }

    &__mates {
      max-width: 980px;
      grid-auto-columns: 340px;
      padding-left: 8.2em;
      padding-right: 8.2em;
      scroll-padding-inline: 8.2em;
    }

    &__img {
      min-width: 340px;
    }

    &__bio {
      min-height: 180px;
      padding-left: 4em;
      padding-right: 1em;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .team {

    .gallery__controls {
      left: 12%;
    }
  }
}